.error {
    border: 4px solid red;
}

.alert {
    border: 4px solid green;
}

.error,
.alert {
    border-radius: 10px;
    padding: 5px;
    animation: fadeOut 4s linear;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}